<!-- Footer Section Start -->
<footer class="footer--section">
    <!-- Footer Widgets Start -->
    <div class="footer--widgets pt--70 pb--20 bg-lightdark" data-bg-img="img/footer-img/footer-widgets-bg.png">
        <div class="container">
            <div class="row AdjustRow">
                <div class="col-md-3 col-xs-6 col-xxs-12 pb--60">
                    <!-- Widget Start -->
                    <div class="widget" style="background-color: transparent;">
                        <h2 class="h4 fw--700 widget--title">About Us</h2>

                        <!-- Text Widget Start -->
                        <div class="text--widget">
                            <p>Ipsum is simply dummy text of the printing indusLorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                        <!-- Text Widget End -->
                    </div>
                    <!-- Widget End -->
                </div>

                <div class="col-md-3 col-xs-6 col-xxs-12 pb--60">
                    <!-- Widget Start -->
                    <div class="widget" style="background-color: transparent;">
                        <h2 class="h4 fw--700 widget--title">Recent Groups</h2>

                        <!-- Recent Posts Widget Start -->
                        <div class="recent-posts--widget">
                            <ul class="nav">
                                {% for rg in resent_groups %}
                                <li>
                                    <p class="title fw--700">
                                        <a href="{% url 'detail' rg.slug %}">{{rg.title}}</a>
                                    </p>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- Recent Posts Widget End -->
                    </div>
                    <!-- Widget End -->

                </div>

                <div class="col-md-3 col-xs-6 col-xxs-12 pb--60">
                    <!-- Widget Start -->
                    <div class="widget" style="background-color: transparent;">
                        <h2 class="h4 fw--700 widget--title">Useful Links</h2>

                        <!-- Links Widget Start -->
                        <div class="links--widget">
                            <ul class="nav">
                                <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'list' %}">Groups</a></li>
                                <li><a href="{% url 'list' %}">Policy</a></li>
                                <li><a href="{% url 'list' %}">Terms</a></li>
                            </ul>
                        </div>
                        <!-- Links Widget End -->
                    </div>
                    <!-- Widget End -->
                </div>

                <div class="col-md-3 col-xs-6 col-xxs-12 pb--60">
                    <!-- Widget Start -->
                    <div class="widget" style="background-color: transparent;">
                        <h2 class="h4 fw--700 widget--title">Subscribe To Our Newsletter</h2>
    
                        <!-- Newsletter Widget Start -->
                        <div class="newsletter--widget style--1" data-form="validate">
                            <form method="POST" action="{% url 'email' %}">
                                {% csrf_token %}  
                                <div class="input-group">
                                    <input type="email" name="email" placeholder="Enter your emil address" class="form-control" autocomplete="off" required>
    
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn-link"><i class="fa fa-send-o"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Newsletter Widget End -->
                    </div>
                    <!-- Widget End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Widgets End -->

    <!-- Footer Copyright Start -->
    <div class="footer--copyright pt--30 pb--30 bg-darkest">
        <div class="container">
            <div class="text fw--500 fs--14 text-center">
                <p>Copyright &copy; <span>Eminifx59</span> community. All Rights Reserved.</p>
            </div>
        </div>
    </div>
    <!-- Footer Copyright End -->
</footer>
<!-- Footer Section End -->