{% extends 'base.html' %}
{% load static %}
{% block extrastylesheet %}
  <link rel="stylesheet" href="{% static 'css/blogdetails.css' %}">
{% endblock %}

{% block content %}
    <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Cover Header Start -->
        <div style="padding-top: 50px;" class="cover--header pt--80 text-center" data-bg-img="img/cover-header-img/bg-02.jpg" data-overlay="0.6" data-overlay-color="white">
            <div class="container">
                <div class="cover--avatar" data-overlay="0.3" data-overlay-color="primary" style="padding: 14px;">
                    <h3 class="group-title">{{group.title.0}}</h3>
                </div>

                <div class="cover--user-name">
                    <h2 class="h3 fw--600">{{group.title}} ({{group.author}})</h2>
                </div>

                <div class="cover--user-activity">
                    <p><i class="fa mr--8 fa-clock-o"></i>{{group.created_at}}</p>
                </div>

                <div class="cover--user-desc fw--400 fs--18 fstyle--i text-darkest">
                    <p>{{group.description}}</p>
                </div>
            </div>
        </div>
        <!-- Cover Header End -->

        <!-- Page Wrapper Start -->
        <section class="page--wrapper pt--80 pb--20" style="background-color: white;">
            <div class="container">
                <div class="row">
                    <!-- Main Content Start -->
                    <div class="main--content col-md-8 pb--60" data-trigger="stickyScroll">
                        <div class="main--content-inner drop--shadow">
                            <!-- Content Nav Start -->
                            <div class="content--nav pb--30">
                                <ul class="nav ff--primary fs--14 fw--500 bg-lighter" style="margin: 0px;">
                                    <li class="active"><a>Posts</a></li>
                                    <li><a href="{% url 'members' group.slug %}">Members</a></li>
                                </ul>
                            </div>
                            <!-- Content Nav End -->

                            <!-- Gallery Header Start -->
                            <div class="gallery--header pb--15 clearfix">
                                <div class="gallery--title float--left">
                                    <h3 class="h3 fw--500 text-default">Group Posts</h3>
                                </div>

                                <div class="gallery--upload-btn ff--primary float--right">
                                    {% if is_member %}
                                        <a class="btn btn-sm btn-default" data-toggle="modal" data-target="#exampleModal"><i class="mr--10 fa fa-cloud-upload"></i>Add Post</a>
                                    {% else %}
                                        <a href="{% url 'join_group' group.slug %}" class="btn btn-sm btn-default"><i class="mr--10 fa fa-cloud-upload"></i>Join Group</a>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Gallery Header End -->

                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Create Your Post</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    
                                    <form class="form" method="POST" action="{% url 'postcreate' %}">
                                        <div class="modal-body">

                                        {% csrf_token %}
                                    
                                        
                                        <input type="text" name="slug" value="{{blogs.slug}}" hidden>
                                        <div class="form-holder login-form active" data-step="1">

                                            <div class="form">
                                            <div>
                                                <input placeholder="Enter post title" class="form-control" type="text" name="title" required>
                                                <br>
                                                <div class="signup_input"> 
                                                    <textarea name="post_text" cols="40" rows="10" maxlength="1000"
                                                    required id="post_description" placeholder="Write something here...">
                                                </textarea>
                                                </div>
                                            </div>

                                            </div>
                                        </div>


                                        </div>

                                        <input type="hidden" name="slug" value="{{group.slug}}">
                                        <div class="modal-footer">

                                        <button type="submit" class="btn btn-primary">Post</button>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>

                            <!-- Topics List Start -->
                            <div class="topics--list">
                              <table class="table">
                                  <tbody>
                                      {% for p in posts %}
                                        <tr>
                                            <td>
                                                <h4 class="h6 fw--500 text-darkest"><a href="{% url 'post' p.id %}" class="btn-link">{{p.title}}</a></h4>
                                            </td>
                                            <td>
                                                <p>{{p.post_created}}</p>

                                                <a href="{% url 'profile' p.post_by.id %}" class="topic--author" style="display: inline-block;">
                                                    <span class="name">{{p.post_by}}</span>
                                                </a>
                                            </td>
                                        </tr>
                                      {% endfor %}
                                  </tbody>
                              </table>
                          </div>
                          <!-- Topics List End -->
                        </div>
                    </div>
                    <!-- Main Content End -->
                    {% include 'extra.html' %}
                </div>
            </div>
        </section>
        <!-- Page Wrapper End -->

        {% include 'footer.html' %}

    </div>
    <!-- Wrapper End -->

    <!-- Back To Top Button Start -->
    <div id="backToTop">
        <a href="#" class="btn"><i class="fa fa-caret-up"></i></a>
    </div>
    <!-- Back To Top Button End -->
  

{% endblock %}