{% extends 'base.html' %}
{% block extrastylesheet %}
<link rel="stylesheet" href="{% static '/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="page--header pt--60 pb--60 text-center bg--img" data-overlay="0.85" data-rjs="2" style="background-image: url(&quot;img/page-header-img/bg.jpg&quot;);">
    <div class="container">
        <div class="title">
            <h2 class="h1 text-white">Groups</h2>
        </div>

        <ul class="breadcrumb text-gray ff--primary">
            <li><a href="home-1.html" class="btn-link">Home</a></li>
            <li class="active"><span class="text-primary">Groups</span></li>
        </ul>
    </div>
</div>
{% endblock %}