<!-- Header Section Start -->
<header class="header--section style--1">

    <!-- Header Navbar Start -->
    <div class="header--navbar navbar bg-black" data-trigger="sticky">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#headerNav">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Header Navbar Logo Start -->
                <div class="header--navbar-logo navbar-brand">
                    <a href="index.html">
                        <img src="img/logo-white.png" class="normal" alt="">
                        <img src="img/logo-black.png" class="sticky" alt="">
                    </a>
                </div>
                <!-- Header Navbar Logo End -->
            </div>

            <div id="headerNav" class="navbar-collapse collapse float--right">
                <!-- Header Nav Links Start -->
                <ul class="header--nav-links style--1 nav ff--primary">

                    {% if not user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#"><span>Home</span></a>
                        </li>
                    {% endif %}
                    
                    <li class="dropdown">
                        <a href="{% url 'list'%}"><span>Groups</span></a>
                    </li>

                    {% if user.is_authenticated %}
                        
                        <li class="dropdown">
                            <a href="{% url 'profile' request.user.id %}"><span>Profile</span></a>
                        </li>

                        <li class="dropdown">
                            <a href="{% url 'logout' %}"><span>Logout</span></a>
                        </li>
                    {% else %}

                        <li class="dropdown">
                            <a href="#"><span>Login</span></a>
                        </li>

                    {% endif %}

                </ul>
                <!-- Header Nav Links End -->
            </div>
        </div>
    </div>
    <!-- Header Navbar End -->
</header>
<!-- Header Section End -->