{% extends 'base.html' %}
{% load static %}
{% load replies %}
{% block extrastylesheet %}
  <link rel="stylesheet" href="{% static 'css/blogdetails.css' %}">
{% endblock %}

{% block content %}

<div class="wrapper">
    <!-- Cover Header Start -->
    <div style="padding-top: 50px;" class="cover--header pt--80 text-center" data-bg-img="img/cover-header-img/bg-02.jpg" data-overlay="0.6" data-overlay-color="white">
        <div class="container">
            <div class="cover--avatar" data-overlay="0.3" data-overlay-color="primary" style="padding: 14px;">
                <h3 class="group-title">P</h3>
            </div>

            <div class="cover--user-name">
                <h2 class="h3 fw--600">{{post.title}} ({{post.post_by}})</h2>
            </div>

            <div class="cover--user-activity">
                <p><i class="fa mr--8 fa-clock-o"></i>{{post.post_created}}</p>
            </div>
        </div>
    </div>
    <!-- Cover Header End -->

        <!-- Page Wrapper Start -->
        <section class="page--wrapper pt--80 pb--20" style="background-color: white;">
            <div class="container">
                <div class="row">
                    <!-- Main Content Start -->
                    <div class="main--content col-md-8 pb--60" data-trigger="stickyScroll">
                        <div class="main--content-inner drop--shadow">   
                            <!-- Post Item Start -->
                            <div class="post--item post--single pb--30">
                                <!-- Post Image Start -->
                                
                                    <div class="post--content text-darker mt--10">
                                        {{post.post_text}}
                                    </div>
                            </div>
                                <!-- Post Info End -->
                            
                            <!-- Post Item End -->

                            <!-- Comment List Start -->
                            <div class="comment--list pt--40">
                                <h4 class="h4 pb--20">Comments</h4>

                                <ul class="comment--items nav">
                                    {% for c in comments %}
                                    <li>
                                        <!-- Comment Item Start -->
                                        <div class="comment--item mr--15 clearfix">
                                            <div class="img float--left" data-overlay="0.3" data-overlay-color="primary">
                                                <img src="{% static 'img/default.png' %}" alt="">
                                            </div>

                                            <div class="info ov--h">
                                                <div class="header clearfix">
                                                    <div class="meta float--left">
                                                        <p class="fs--14 fw--700 text-darkest">
                                                            <a href="#">{{c.name}}</a>
                                                        </p>

                                                        <p>
                                                            <i class="mr--10 fa fa-clock-o"></i>
                                                            <span>{{c.post_date}}</span>
                                                        </p>
                                                    </div>

                                                    <div class="reply text-darker float--right">
                                                        <a href="#" class="btn btn-default">Reply</a>
                                                    </div>
                                                </div>

                                                <div class="content pt--8 fs--14">
                                                    <p>{{c.description}}</p>
                                                </div>
                                                <br>
                                                <form method="POST" action="{% url 'reply' %}">
                                                    {% csrf_token %} 
                                                    <input class="form-control" type="text" name="comment" placeholder="Add reply" >
                                                    <input type="hidden" value="{{c.id}}" name="id">
                                                    <input type="hidden" value="{{post.id}}" name="post_id">
                                                    <div class="col-sm-12 pt--10">
                                                        <button type="submit" class="btn btn-sm btn-primary fs--14">Add reply</button>
                                                    </div>
                                                </form>
                                            </div>
                                            
                                        </div>
                                        <!-- Comment Item End -->

                                        {% for r in c.id|replies %}
                                        <ul class="comment--items nav">
                                            <li>
                                                <!-- Comment Item Start -->
                                                <div class="comment--item mr--15 clearfix">
                                                    <div class="img float--left" data-overlay="0.3" data-overlay-color="primary">
                                                        <img src="{% static 'img/default.png' %}" alt="">
                                                    </div>

                                                    <div class="info ov--h">
                                                        <div class="header clearfix">
                                                            <div class="meta float--left">
                                                                <p class="fs--14 fw--700 text-darkest">
                                                                    <a href="#">{{r.name}}</a>
                                                                </p>

                                                                <p>
                                                                    <i class="mr--10 fa fa-clock-o"></i>
                                                                    <span>{{r.post_date}}</span>
                                                                </p>
                                                            </div>
                                                        </div>

                                                        <div class="content pt--8 fs--14">
                                                            <p>{{r.description}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Comment Item End -->
                                            </li>
                                        </ul>
                                        {% endfor %}
                                        
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- Comment List End -->

                            <!-- Comment Form Start -->
                            <div class="comment--form pb--30" data-form="validate">
                                <h4 class="h4 pb--15">Leave A Comment</h4>

                                <form method="POST" action="{% url 'comment' %}">
                                    {% csrf_token %} 
                                    <div class="row gutter--15">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <textarea name="comment" placeholder="Comment *" name="comment" class="form-control" required></textarea>
                                                <input type="hidden" name ="id" value="{{post.id}}">
                                            </div>
                                        </div>

                                        <div class="col-sm-12 pt--10">
                                            <button type="submit" class="btn btn-sm btn-primary fs--14">Post Comment</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- Comment Form End -->
                    <!-- Main Content End -->

                        </div>
                    </div>
                    <!-- Main Content End -->

                    {% include 'extra.html' %}
                </div>
            </div>
        </section>
        <!-- Page Wrapper End -->

        {% include 'footer.html' %}

    <!-- Back To Top Button Start -->
    <div id="backToTop">
        <a href="#" class="btn"><i class="fa fa-caret-up"></i></a>
    </div>
    <!-- Back To Top Button End -->



</div>

{% endblock %}