{% extends 'base.html' %}
{% load static %}
{% block extrastylesheet %}
  <link rel="stylesheet" href="{% static 'css/blogdetails.css' %}">
{% endblock %}

{% block content %}
    <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Cover Header Start -->
        <div style="padding-top: 50px;" class="cover--header pt--80 text-center" data-bg-img="img/cover-header-img/bg-02.jpg" data-overlay="0.6" data-overlay-color="white">
            <div class="container">
                <div class="cover--avatar" data-overlay="0.3" data-overlay-color="primary" style="padding: 14px;">
                    <h3 class="group-title">{{user_obj.username.0}}</h3>
                </div>

                <div class="cover--user-name">
                    <h2 class="h3 fw--600">{{user_obj.username}}</h2>
                </div>
            </div>
        </div>
        <!-- Cover Header End -->
        

        <!-- Page Wrapper Start -->
        <section class="page--wrapper pt--80 pb--20" style="background-color: white;">
            <div class="container">
                <div class="row">
                    <!-- Main Content Start -->
                    <div class="main--content col-md-8 pb--60" data-trigger="stickyScroll">
                        <div class="main--content-inner drop--shadow">
                            <!-- Content Nav Start -->
                            <div class="content--nav pb--30">
                                <ul class="nav ff--primary fs--14 fw--500 bg-lighter" style="margin: 0px;">
                                    <li class="active"><a>Info</a></li>
                                    <li><a href="{% url 'user_post' user_obj.id %}">Posts</a></li>
                                </ul>
                            </div>
                            <!-- Content Nav End -->

                            <!-- Profile Details Start -->
                            <div class="profile--details fs--14">
                                <!-- Profile Item Start -->
                                <div class="profile--item">
                                    <div class="profile--heading">
                                        <h3 class="h4 fw--700">
                                            <span class="mr--4">About Me</span>
                                            <i class="ml--10 text-primary fa fa-caret-right"></i>
                                        </h3>
                                    </div>

                                    <div class="profile--info">
                                        <table class="table">
                                            <tr>
                                                <th class="fw--700 text-darkest">Name</th>
                                                <td class="btn-link">{{user_obj.username}}</td>
                                            </tr>
                                            <tr>
                                                <th class="fw--700 text-darkest">Email</th>
                                                <td class="btn-link">{{user_obj.email}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <!-- Profile Item End -->
                            </div>
                            <!-- Profile Details End -->

                            
                        </div>
                    </div>
                    <!-- Main Content End -->

                    {% include 'extra.html' %}
                </div>
            </div>
        </section>
        <!-- Page Wrapper End -->

        {% include 'footer.html' %}

    </div>
    <!-- Wrapper End -->

    <!-- Back To Top Button Start -->
    <div id="backToTop">
        <a href="#" class="btn"><i class="fa fa-caret-up"></i></a>
    </div>
    <!-- Back To Top Button End -->



{% endblock %}