{% extends 'base.html' %}
{% load static %}
{% block extrastylesheet %}
  <link rel="stylesheet" href="{% static 'css/blogdetails.css' %}">
{% endblock %}

{% block content %}
    <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Cover Header Start -->
        <div style="padding-top: 50px;" class="cover--header pt--80 text-center" data-bg-img="img/cover-header-img/bg-02.jpg" data-overlay="0.6" data-overlay-color="white">
            <div class="container">
                <div class="cover--avatar" data-overlay="0.3" data-overlay-color="primary" style="padding: 14px;">
                    <h3 class="group-title">{{user_obj.username.0}}</h3>
                </div>

                <div class="cover--user-name">
                    <h2 class="h3 fw--600">{{user_obj.username}}</h2>
                </div>
            </div>
        </div>
        <!-- Cover Header End -->
        

        <!-- Page Wrapper Start -->
        <section class="page--wrapper pt--80 pb--20" style="background-color: white;">
            <div class="container">
                <div class="row">
                    <!-- Main Content Start -->
                    <div class="main--content col-md-8 pb--60" data-trigger="stickyScroll">
                        <div class="main--content-inner drop--shadow">
                            <!-- Content Nav Start -->
                            <div class="content--nav pb--30">
                                <ul class="nav ff--primary fs--14 fw--500 bg-lighter" style="margin: 0px;">
                                    <li class="active"><a>Info</a></li>
                                    <li><a href="{% url 'user_post' user_obj.id %}">Posts</a></li>
                                </ul>
                            </div>
                            <!-- Content Nav End -->

                            <!-- Profile Details Start -->
                            <div class="profile--details fs--14">
                                <!-- Profile Item Start -->
                                <div class="profile--item">
                                    <div class="profile--heading">
                                        <h3 class="h4 fw--700">
                                            <span class="mr--4">About Me</span>
                                            <i class="ml--10 text-primary fa fa-caret-right"></i>
                                        </h3>
                                    </div>

                                    <div class="profile--info">
                                        <table class="table">
                                            <tr>
                                                <th class="fw--700 text-darkest">Name</th>
                                                <td class="btn-link">{{user_obj.username}}</td>
                                            </tr>
                                            <tr>
                                                <th class="fw--700 text-darkest">Email</th>
                                                <td class="btn-link">{{user_obj.email}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <!-- Profile Item End -->
                            </div>
                            <!-- Profile Details End -->

                            
                        </div>
                    </div>
                    <!-- Main Content End -->

                    <!-- Main Sidebar Start -->
                    <div class="main--sidebar col-md-4 pb--60" data-trigger="stickyScroll">
                        <!-- Widget Start -->
                        <div class="widget">
                            <h2 class="h4 fw--700 widget--title">Find A Buddy</h2>

                            <!-- Buddy Finder Widget Start -->
                            <div class="buddy-finder--widget">
                                <form action="#">
                                    <div class="row">
                                        <div class="col-xs-6 col-xxs-12">
                                            <div class="form-group">
                                                <label>
                                                    <span class="text-darker ff--primary fw--500">I Am</span>

                                                    <select name="gender" class="form-control form-sm" data-trigger="selectmenu">
                                                        <option value="male">Male</option>
                                                        <option value="female">Female</option>
                                                        <option value="other">Other</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-xs-6 col-xxs-12">
                                            <div class="form-group">
                                                <label>
                                                    <span class="text-darker ff--primary fw--500">Looking For</span>

                                                    <select name="lookingfor" class="form-control form-sm" data-trigger="selectmenu">
                                                        <option value="female">Female</option>
                                                        <option value="male">Male</option>
                                                        <option value="other">Other</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-xs-6 col-xxs-12">
                                            <div class="form-group">
                                                <label>
                                                    <span class="text-darker ff--primary fw--500">Age</span>

                                                    <select name="age" class="form-control form-sm" data-trigger="selectmenu">
                                                        <option value="18to25">18 to 25</option>
                                                        <option value="25to30">25 to 30</option>
                                                        <option value="30to35">30 to 35</option>
                                                        <option value="35to40">35 to 40</option>
                                                        <option value="40plus">40+</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-xs-6 col-xxs-12">
                                            <div class="form-group">
                                                <label>
                                                    <span class="text-darker ff--primary fw--500">City</span>

                                                    <select name="city" class="form-control form-sm" data-trigger="selectmenu">
                                                        <option value="newyork">New York</option>
                                                        <option value="California">California</option>
                                                        <option value="Atlanta">Atlanta</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label>
                                                    <span class="text-darker ff--primary fw--500">Filter Country</span>

                                                    <select name="city" class="form-control form-sm" data-trigger="selectmenu">
                                                        <option value="unitedstates">United States</option>
                                                        <option value="australia">Australia</option>
                                                        <option value="turkey">Turkey</option>
                                                        <option value="vietnam">Vietnam</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-xs-12">
                                            <button type="submit" class="btn btn-primary">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- Buddy Finder Widget End -->
                        </div>
                        <!-- Widget End -->

                        <!-- Widget Start -->
                        <div class="widget">
                            <h2 class="h4 fw--700 widget--title">Notice</h2>

                            <!-- Text Widget Start -->
                            <div class="text--widget">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some  look even slightly believable.</p>
                            </div>
                            <!-- Text Widget End -->
                        </div>
                        <!-- Widget End -->

                        <!-- Widget Start -->
                        <div class="widget">
                            <h2 class="h4 fw--700 widget--title">Forums</h2>

                            <!-- Links Widget Start -->
                            <div class="links--widget">
                                <ul class="nav">
                                    <li><a href="sub-forums.html">User Interface Design<span>(12)</span></a></li>
                                    <li><a href="sub-forums.html">Front-End Engineering<span>(07)</span></a></li>
                                    <li><a href="sub-forums.html">Web Development<span>(37)</span></a></li>
                                    <li><a href="sub-forums.html">Social Media Marketing<span>(13)</span></a></li>
                                    <li><a href="sub-forums.html">Content Marketing<span>(28)</span></a></li>
                                </ul>
                            </div>
                            <!-- Links Widget End -->
                        </div>
                        <!-- Widget End -->

                        <!-- Widget Start -->
                        <div class="widget">
                            <h2 class="h4 fw--700 widget--title">Archives</h2>

                            <!-- Nav Widget Start -->
                            <div class="nav--widget">
                                <ul class="nav">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-calendar-o"></i>
                                            <span class="text">Jan - July 2017</span>
                                            <span class="count">(86)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-calendar-o"></i>
                                            <span class="text">Jan - Dce 2016</span>
                                            <span class="count">(328)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-calendar-o"></i>
                                            <span class="text">Jan - Dec 2015</span>
                                            <span class="count">(427)</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Nav Widget End -->
                        </div>
                        <!-- Widget End -->

                        <!-- Widget Start -->
                        <div class="widget">
                            <h2 class="h4 fw--700 widget--title">Advertisements</h2>

                            <!-- Ad Widget Start -->
                            <div class="ad--widget">
                                <a href="#">
                                    <img src="img/widgets-img/ad.jpg" alt="" class="center-block">
                                </a>
                            </div>
                            <!-- Ad Widget End -->
                        </div>
                        <!-- Widget End -->
                    </div>
                    <!-- Main Sidebar End -->
                </div>
            </div>
        </section>
        <!-- Page Wrapper End -->

        {% include 'footer.html' %}

    </div>
    <!-- Wrapper End -->

    <!-- Back To Top Button Start -->
    <div id="backToTop">
        <a href="#" class="btn"><i class="fa fa-caret-up"></i></a>
    </div>
    <!-- Back To Top Button End -->

    <!-- Media Modal Start -->
    <div class="media--modal type--img modal fade" id="mediaImgModal">
        <div class="modal-dialog">
            <div class="row gutter--0">
                <div class="col-md-8">
                    <!-- Media Image Start -->
                    <figure class="media--img">
                        <img src="img/gallery-img/full-01.jpg" alt="">

                        <p class="figcaption fs--14 fw--700 text-white">Lazy Fishing</p>
                    </figure>
                    <!-- Media Image End -->
                </div>

                <div class="col-md-4">
                    <!-- Media Details Start -->
                    <div class="media--details">
                        <!-- Media Close Button Start -->
                        <button type="button" class="close btn-link" data-dismiss="modal">&times;</button>
                        <!-- Media Close Button End -->

                        <!-- Media Author Start -->
                        <div class="media--author clearfix">
                            <div class="media--avatar float--left" data-overlay="0.3" data-overlay-color="primary">
                                <img src="img/activity-img/avatar-01.jpg" alt="">
                            </div>

                            <div class="media--author-info ov--h">
                                <p class="name fs--14 fw--700 text-darkest">Eileen K. Ruiz</p>
                                <p class="date">Yeasterday at 08:20 am<i class="ml--8 fa fa-globe"></i></p>
                            </div>
                        </div>
                        <!-- Media Author End -->

                        <!-- Media Meta Start -->
                        <div class="media--meta">
                            <ul class="nav">
                                <li>
                                    <a href="#">
                                        <i class="bg-primary text-white mr--6 fa fa-hand-o-right"></i>
                                        <span>5k</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bg-primary text-white mr--6 fa fa-comment-o"></i>
                                        <span>Show All 26 Comments</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- Media Meta End -->

                        <!-- Media Comments Start -->
                        <div class="media--comments">
                            <!-- Media Comment Start -->
                            <div class="media--comment">
                                <!-- Media Author Start -->
                                <div class="media--author clearfix">
                                    <div class="media--avatar float--left" data-overlay="0.3" data-overlay-color="primary">
                                        <img src="img/activity-img/avatar-02.jpg" alt="">
                                    </div>

                                    <div class="media--author-info ov--h">
                                        <p class="name"><a href="#" class="btn-link">Samantha B. Beatty</a> Replied</p>
                                        <p class="date"><i class="mr--8 fa fa-clock-o"></i>Yeasterday at 08:20 am</p>

                                        <!-- Media Comment Content Start -->
                                        <div class="media--comment-content">
                                            <p>Love It..... <span style="color: #ec407a"><i class="fa fa-heart"></i> <i class="fa fa-heart"></i> <i class="fa fa-heart"></i></span></p>
                                        </div>
                                        <!-- Media Comment Content End -->
                                    </div>
                                </div>
                                <!-- Media Author End -->
                            </div>
                            <!-- Media Comment End -->

                            <!-- Media Comment Start -->
                            <div class="media--comment">
                                <!-- Media Author Start -->
                                <div class="media--author clearfix">
                                    <div class="media--avatar float--left" data-overlay="0.3" data-overlay-color="primary">
                                        <img src="img/activity-img/avatar-03.jpg" alt="">
                                    </div>

                                    <div class="media--author-info ov--h">
                                        <p class="name"><a href="#" class="btn-link">Barbara E. Weiss</a> Replied</p>
                                        <p class="date"><i class="mr--8 fa fa-clock-o"></i>Yeasterday at 08:20 am</p>

                                        <!-- Media Comment Content Start -->
                                        <div class="media--comment-content">
                                            <p>Beautiful Photo...</p>
                                            <p>Love It..... <span style="color: #ec407a"><i class="fa fa-heart"></i> <i class="fa fa-heart"></i> <i class="fa fa-heart"></i></span></p>
                                        </div>
                                        <!-- Media Comment Content End -->
                                    </div>
                                </div>
                                <!-- Media Author End -->
                            </div>
                            <!-- Media Comment End -->

                            <!-- Media Comment Start -->
                            <div class="media--comment">
                                <!-- Media Author Start -->
                                <div class="media--author clearfix">
                                    <div class="media--avatar float--left" data-overlay="0.3" data-overlay-color="primary">
                                        <img src="img/activity-img/avatar-05.jpg" alt="">
                                    </div>

                                    <div class="media--author-info ov--h">
                                        <p class="name"><a href="#" class="btn-link">Jeannette J. White</a> Replied</p>
                                        <p class="date"><i class="mr--8 fa fa-clock-o"></i>Yeasterday at 08:20 am</p>

                                        <!-- Media Comment Content Start -->
                                        <div class="media--comment-content">
                                            <p>So cute</p>
                                        </div>
                                        <!-- Media Comment Content End -->
                                    </div>
                                </div>
                                <!-- Media Author End -->
                            </div>
                            <!-- Media Comment End -->
                        </div>
                        <!-- Media Comments End -->

                        <!-- Media All Comments Start -->
                        <div class="media--all-comments text-center">
                            <a href="#" class="btn-link">Show all comments</a>
                        </div>
                        <!-- Media All Comments End -->
                    </div>
                    <!-- Media Details End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Media Modal End -->

    <!-- Media Modal Start -->
    <div class="media--modal type--video modal fade" id="mediaVideoModal">
        <div class="modal-dialog">
            <div class="row gutter--0">
                <div class="col-md-8">
                    <!-- Media Video Start -->
                    <div class="media--video embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/YE7VzlLtp-4?showinfo=0&amp;controls=0&amp;rel=0&amp;wmode=transparent"></iframe>

                        <p class="figcaption fs--14 fw--700 text-white">Big Buck Bunny</p>
                    </div>
                    <!-- Media Video End -->
                </div>

                <div class="col-md-4">
                    <!-- Media Details Start -->
                    <div class="media--details">
                        <!-- Media Close Button Start -->
                        <button type="button" class="close btn-link" data-dismiss="modal">&times;</button>
                        <!-- Media Close Button End -->

                        <!-- Media Author Start -->
                        <div class="media--author clearfix">
                            <div class="media--avatar float--left" data-overlay="0.3" data-overlay-color="primary">
                                <img src="img/activity-img/avatar-01.jpg" alt="">
                            </div>

                            <div class="media--author-info ov--h">
                                <p class="name fs--14 fw--700 text-darkest">Eileen K. Ruiz</p>
                                <p class="date">Yeasterday at 08:20 am<i class="ml--8 fa fa-globe"></i></p>
                            </div>
                        </div>
                        <!-- Media Author End -->

                        <!-- Media Meta Start -->
                        <div class="media--meta">
                            <ul class="nav">
                                <li>
                                    <a href="#">
                                        <i class="bg-primary text-white mr--6 fa fa-hand-o-right"></i>
                                        <span>5k</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bg-primary text-white mr--6 fa fa-comment-o"></i>
                                        <span>Show All 26 Comments</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- Media Meta End -->

                        <!-- Media Comments Start -->
                        <div class="media--comments">
                            <!-- Media Comment Start -->
                            <div class="media--comment">
                                <!-- Media Author Start -->
                                <div class="media--author clearfix">
                                    <div class="media--avatar float--left" data-overlay="0.3" data-overlay-color="primary">
                                        <img src="img/activity-img/avatar-02.jpg" alt="">
                                    </div>

                                    <div class="media--author-info ov--h">
                                        <p class="name"><a href="#" class="btn-link">Samantha B. Beatty</a> Replied</p>
                                        <p class="date"><i class="mr--8 fa fa-clock-o"></i>Yeasterday at 08:20 am</p>

                                        <!-- Media Comment Content Start -->
                                        <div class="media--comment-content">
                                            <p>Love It..... <span style="color: #ec407a"><i class="fa fa-heart"></i> <i class="fa fa-heart"></i> <i class="fa fa-heart"></i></span></p>
                                        </div>
                                        <!-- Media Comment Content End -->
                                    </div>
                                </div>
                                <!-- Media Author End -->
                            </div>
                            <!-- Media Comment End -->

                            <!-- Media Comment Start -->
                            <div class="media--comment">
                                <!-- Media Author Start -->
                                <div class="media--author clearfix">
                                    <div class="media--avatar float--left" data-overlay="0.3" data-overlay-color="primary">
                                        <img src="img/activity-img/avatar-03.jpg" alt="">
                                    </div>

                                    <div class="media--author-info ov--h">
                                        <p class="name"><a href="#" class="btn-link">Barbara E. Weiss</a> Replied</p>
                                        <p class="date"><i class="mr--8 fa fa-clock-o"></i>Yeasterday at 08:20 am</p>

                                        <!-- Media Comment Content Start -->
                                        <div class="media--comment-content">
                                            <p>Beautiful Photo...</p>
                                            <p>Love It..... <span style="color: #ec407a"><i class="fa fa-heart"></i> <i class="fa fa-heart"></i> <i class="fa fa-heart"></i></span></p>
                                        </div>
                                        <!-- Media Comment Content End -->
                                    </div>
                                </div>
                                <!-- Media Author End -->
                            </div>
                            <!-- Media Comment End -->

                            <!-- Media Comment Start -->
                            <div class="media--comment">
                                <!-- Media Author Start -->
                                <div class="media--author clearfix">
                                    <div class="media--avatar float--left" data-overlay="0.3" data-overlay-color="primary">
                                        <img src="img/activity-img/avatar-05.jpg" alt="">
                                    </div>

                                    <div class="media--author-info ov--h">
                                        <p class="name"><a href="#" class="btn-link">Jeannette J. White</a> Replied</p>
                                        <p class="date"><i class="mr--8 fa fa-clock-o"></i>Yeasterday at 08:20 am</p>

                                        <!-- Media Comment Content Start -->
                                        <div class="media--comment-content">
                                            <p>So cute</p>
                                        </div>
                                        <!-- Media Comment Content End -->
                                    </div>
                                </div>
                                <!-- Media Author End -->
                            </div>
                            <!-- Media Comment End -->
                        </div>
                        <!-- Media Comments End -->

                        <!-- Media All Comments Start -->
                        <div class="media--all-comments text-center">
                            <a href="#" class="btn-link">Show all comments</a>
                        </div>
                        <!-- Media All Comments End -->
                    </div>
                    <!-- Media Details End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Media Modal End -->

    <!-- Media Modal Start -->
    <div class="media--modal type--audio modal fade" id="mediaAudioModal">
        <div class="modal-dialog">
            <div class="row gutter--0">
                <div class="col-md-8">
                    <!-- Media Audio Start -->
                    <div class="media--audio">
                        <audio src="media/audio.mp3" controls></audio>

                        <p class="figcaption fs--14 fw--700 text-white">Big Buck Bunny</p>
                    </div>
                    <!-- Media Audio End -->
                </div>

                <div class="col-md-4">
                    <!-- Media Details Start -->
                    <div class="media--details">
                        <!-- Media Close Button Start -->
                        <button type="button" class="close btn-link" data-dismiss="modal">&times;</button>
                        <!-- Media Close Button End -->

                        <!-- Media Author Start -->
                        <div class="media--author clearfix">
                            <div class="media--avatar float--left" data-overlay="0.3" data-overlay-color="primary">
                                <img src="img/activity-img/avatar-01.jpg" alt="">
                            </div>

                            <div class="media--author-info ov--h">
                                <p class="name fs--14 fw--700 text-darkest">Eileen K. Ruiz</p>
                                <p class="date">Yeasterday at 08:20 am<i class="ml--8 fa fa-globe"></i></p>
                            </div>
                        </div>
                        <!-- Media Author End -->

                        <!-- Media Meta Start -->
                        <div class="media--meta">
                            <ul class="nav">
                                <li>
                                    <a href="#">
                                        <i class="bg-primary text-white mr--6 fa fa-hand-o-right"></i>
                                        <span>5k</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bg-primary text-white mr--6 fa fa-comment-o"></i>
                                        <span>Show All 26 Comments</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- Media Meta End -->

                        <!-- Media Comments Start -->
                        <div class="media--comments">
                            <!-- Media Comment Start -->
                            <div class="media--comment">
                                <!-- Media Author Start -->
                                <div class="media--author clearfix">
                                    <div class="media--avatar float--left" data-overlay="0.3" data-overlay-color="primary">
                                        <img src="img/activity-img/avatar-02.jpg" alt="">
                                    </div>

                                    <div class="media--author-info ov--h">
                                        <p class="name"><a href="#" class="btn-link">Samantha B. Beatty</a> Replied</p>
                                        <p class="date"><i class="mr--8 fa fa-clock-o"></i>Yeasterday at 08:20 am</p>

                                        <!-- Media Comment Content Start -->
                                        <div class="media--comment-content">
                                            <p>Love It..... <span style="color: #ec407a"><i class="fa fa-heart"></i> <i class="fa fa-heart"></i> <i class="fa fa-heart"></i></span></p>
                                        </div>
                                        <!-- Media Comment Content End -->
                                    </div>
                                </div>
                                <!-- Media Author End -->
                            </div>
                            <!-- Media Comment End -->

                            <!-- Media Comment Start -->
                            <div class="media--comment">
                                <!-- Media Author Start -->
                                <div class="media--author clearfix">
                                    <div class="media--avatar float--left" data-overlay="0.3" data-overlay-color="primary">
                                        <img src="img/activity-img/avatar-03.jpg" alt="">
                                    </div>

                                    <div class="media--author-info ov--h">
                                        <p class="name"><a href="#" class="btn-link">Barbara E. Weiss</a> Replied</p>
                                        <p class="date"><i class="mr--8 fa fa-clock-o"></i>Yeasterday at 08:20 am</p>

                                        <!-- Media Comment Content Start -->
                                        <div class="media--comment-content">
                                            <p>Beautiful Photo...</p>
                                            <p>Love It..... <span style="color: #ec407a"><i class="fa fa-heart"></i> <i class="fa fa-heart"></i> <i class="fa fa-heart"></i></span></p>
                                        </div>
                                        <!-- Media Comment Content End -->
                                    </div>
                                </div>
                                <!-- Media Author End -->
                            </div>
                            <!-- Media Comment End -->

                            <!-- Media Comment Start -->
                            <div class="media--comment">
                                <!-- Media Author Start -->
                                <div class="media--author clearfix">
                                    <div class="media--avatar float--left" data-overlay="0.3" data-overlay-color="primary">
                                        <img src="img/activity-img/avatar-05.jpg" alt="">
                                    </div>

                                    <div class="media--author-info ov--h">
                                        <p class="name"><a href="#" class="btn-link">Jeannette J. White</a> Replied</p>
                                        <p class="date"><i class="mr--8 fa fa-clock-o"></i>Yeasterday at 08:20 am</p>

                                        <!-- Media Comment Content Start -->
                                        <div class="media--comment-content">
                                            <p>So cute</p>
                                        </div>
                                        <!-- Media Comment Content End -->
                                    </div>
                                </div>
                                <!-- Media Author End -->
                            </div>
                            <!-- Media Comment End -->
                        </div>
                        <!-- Media Comments End -->

                        <!-- Media All Comments Start -->
                        <div class="media--all-comments text-center">
                            <a href="#" class="btn-link">Show all comments</a>
                        </div>
                        <!-- Media All Comments End -->
                    </div>
                    <!-- Media Details End -->
                </div>
            </div>
        </div>
    </div>



{% endblock %}