{% extends 'base.html' %}
{% load static %}
{% block extrastylesheet %}
  <link rel="stylesheet" href="{% static 'css/blogdetails.css' %}">
{% endblock %}

{% block content %}
    <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Cover Header Start -->
        <div style="padding-top: 50px;" class="cover--header pt--80 text-center" data-bg-img="img/cover-header-img/bg-02.jpg" data-overlay="0.6" data-overlay-color="white">
            <div class="container">
                <div class="cover--avatar" data-overlay="0.3" data-overlay-color="primary" style="padding: 14px;">
                    <h3 class="group-title">{{user_obj.username.0}}</h3>
                </div>

                <div class="cover--user-name">
                    <h2 class="h3 fw--600">{{user_obj.username}}</h2>
                </div>
            </div>
        </div>
        <!-- Cover Header End -->
        

        <!-- Page Wrapper Start -->
        <section class="page--wrapper pt--80 pb--20" style="background-color: white;">
            <div class="container">
                <div class="row">
                    <!-- Main Content Start -->
                    <div class="main--content col-md-8 pb--60" data-trigger="stickyScroll">
                        <div class="main--content-inner drop--shadow">
                            <!-- Content Nav Start -->
                            <div class="content--nav pb--30">
                                <ul class="nav ff--primary fs--14 fw--500 bg-lighter" style="margin: 0px;">
                                    <li><a href="{% url 'profile' user_obj.id %}">Info</a></li>
                                    <li class="active"><a>Posts</a></li>
                                </ul>
                            </div>
                            <!-- Content Nav End -->

                            <!-- Topics List Start -->
                            <div class="topics--list">
                                <table class="table">
                                    <tbody>
                                        {% for p in posts %}
                                          <tr>
                                              <td>
                                                  <h4 class="h6 fw--500 text-darkest"><a href="{% url 'post' p.id %}" class="btn-link">{{p.title}}</a></h4>
                                              </td>
                                              <td>
                                                  <p>{{p.post_created}}</p>
  
                                                  <a href="#" class="topic--author" style="display: inline-block;">
                                                      <span class="name">{{p.post_by}}</span>
                                                  </a>
                                              </td>
                                          </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- Topics List End -->

                            
                        </div>
                    </div>
                    <!-- Main Content End -->

                    {% include 'extra.html' %}
                </div>
            </div>
        </section>
        <!-- Page Wrapper End -->

        {% include 'footer.html' %}

    </div>
    <!-- Wrapper End -->

    <!-- Back To Top Button Start -->
    <div id="backToTop">
        <a href="#" class="btn"><i class="fa fa-caret-up"></i></a>
    </div>
    <!-- Back To Top Button End -->



{% endblock %}